
</body>
</html>
<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>IEEE TEMS</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
  <link rel="stylesheet" href="home.css">
  <script src="https://kit.fontawesome.com/03e1a34bf0.js" crossorigin="anonymous"></script>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
    crossorigin="anonymous"></script>
</head>
<body>


<!-- Home Section Start -->
<section id="Home"  >
    <h1>Home</h1>
</section>
<!-- Home Section End -->



<!-- About Section Start -->
<section id="About">
    <h1>About</h1>
</section>
<!-- About Section End -->



<!-- Domains Section Start -->

<section style="background-color: rgb(22, 22, 22); padding-bottom: 100px; padding-top: 40px;" id="domains" >
    <h1 style="text-align: center; padding-bottom: 40px; color: white;">
      <span style="background-image: linear-gradient(to right, transparent 10%, green 10%, green 90%, transparent 90%);  background-size: 100% 5px; background-repeat: no-repeat; background-position: 0 100%;">
        Domains
      </span>
    </h1>
  <div class="container-fluid  border border-success rounded-5  text-white" style="box-shadow: 0 0 10px 5px green; ">
    <div class="row flex-nowrap">
        <div class="col-auto col-md-auto col-xl-auto px-sm-6 px-0  rounded-5 py-5" style="background-color: rgb(34, 119, 34);">
            <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-50">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start " id="menu">
                  <li class="nav-item py-1 active " id="webdev-section">
                    <a href="javascript:void(0);" class="nav-link  align-middle px-0" onclick="showContent('webdev')">
                        <span class="fa-solid fa-laptop-code text-dark fa-2x"></span>
                        <span class="fs-4 ps-3 txt w-500 ">Web Development</span>
                    </a>
                </li>
                <li class="py-1">
                    <a href="javascript:void(0);" class="nav-link px-0 align-middle" onclick="showContent('ml')">
                        <span class="fa-solid fa-robot text-dark fa-2x"></span>
                        <span class="fs-4 ps-3 txt">Machine Learning&nbsp;</span>
                    </a>
                </li>
                    <li class="py-1">
                        <a href="javascript:void(0);" class="nav-link px-0 align-middle" onclick="showContent('iot')">
                            &nbsp;<span class="fa-solid fa-globe  text-dark fa-2x"></span>
                            <span class="fs-4 ps-3 txt">Internet Of Things&nbsp;</span>
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="javascript:void(0);" class="nav-link px-0 align-middle" onclick="showContent('devops')">
                          <span class="fa-solid fa-infinity   text-dark fa-2x "></span>
                            <span class="fs-4 ps-3 txt" >DevOps&nbsp;</span>
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="javascript:void(0);" class="nav-link px-0 align-middle" onclick="showContent('design')">
                          <span class="fa-solid fa-broom-ball     text-dark  fa-2x"></span>
                            <span class="fs-4 ps-3 txt">Design&nbsp;</span>
                        </a>
                    </li>
                    <li class="py-1">
                        <a href="javascript:void(0);" class="nav-link px-0 align-middle" onclick="showContent('editorial')">
                            <span class="fa-solid fa-newspaper       text-dark fa-2x"></span>
                            <span class="fs-4 ps-3 txt">Blogging & Vlogging</span>
                        </a>
                    </li>
                  
                </ul>
            </div>
        </div>
        <div class="col  " id="contentArea" >
            <h2 style="text-align: center; margin-top: 25px; "><span class="text-success">W</span>eb <span class="text-success">D</span>evelopment</h2>
            <p class=" domaintext text-left lh-lg word-spacing-4 mt-4"  >IEEE TEMS specializes in Web Development. We are dedicated to fostering creativity and honing technical skills within our community. Our initiatives include hosting coding competitions that challenge members to push their programming limits, organizing web design workshops that provide hands-on experience in crafting stunning digital interfaces, and conducting intensive coding bootcamps to empower our members with the ability to create responsive websites and dynamic web applications. Through these endeavors, we enable our members to explore and master the latest web technologies, ensuring that they stay at the forefront of the ever-evolving digital landscape.
            </p>
        </div>
    </div>
</div>

</section>

<!-- Domains Section end -->




<!-- Event Section Start -->
<section id="Event">
    <h1>Event</h1>
</section>
<!-- Event Section End -->



<!-- Blogs Section Start -->
<section id="Blogs">
    <h1>Blogs</h1>
</section>
<!-- Blogs Section End -->



<!-- Board Section Start -->
<section id="Board">
    <h1>Board</h1>
</section>
<!-- Board Section End -->




<!-- Memories Section Start -->
<section id="Memories">
    <h1>Memories</h1>
</section>
<!-- Memories Section End -->




<!-- Contact Section Start -->
<section id="About">
    <h1>About</h1>
</section>
<!-- Contact Section End -->




<!-- Footer Start -->
<section id="Footer">
    <h1>Footer</h1>
</section>
<!-- Footer End -->


<a href="/contributors">Contributors</a>



<!-- Javascript -->

<script src="home.js"></script>

    <script>
        document.getElementById("webdev-section").querySelector(".nav-link").focus();
 
         function showContent(section) {
         var contentArea = document.getElementById("contentArea");
         var content = '';
 
         if (section === 'webdev') {
             content = '<h2 style="text-align: center; margin-top: 25px; "><span class="text-success">W</span>eb <span class="text-success">D</span>evelopment</h2><p class=" domaintext text-left lh-lg word-spacing-4 mt-4">IEEE TEMS specializes in Web Development. We are dedicated to fostering creativity and honing technical skills within our community. Our initiatives include hosting coding competitions that challenge members to push their programming limits, organizing web design workshops that provide hands-on experience in crafting stunning digital interfaces, and conducting intensive coding bootcamps to empower our members with the ability to create responsive websites and dynamic web applications. Through these endeavors, we enable our members to explore and master the latest web technologies, ensuring that they stay at the forefront of the ever-evolving digital landscape.</p>';
         } else if (section === 'ml') {
             content = '<h2 style="text-align: center; margin-top: 25px; "><span class="text-success">M</span>achine <span class="text-success">L</span>earning</h2><p class=" domaintext text-left lh-lg word-spacing-4 mt-4">In the realm of Machine Learning, IEEE TEMS is the go-to hub for enthusiasts seeking to dive into the world of cutting-edge algorithms, advanced data analysis techniques, and practical AI applications. Our vibrant community of members actively engages in workshops, hackathons, and seminars to stay consistently updated with the latest advancements in Machine Learning.Through our interactive events, we aim to foster a culture of innovation and collaboration in this ever-evolving field. Our seminars feature industry experts and thought leaders, providing invaluable insights into the exciting developments in Machine Learning.</p>';
         } else if (section === 'iot') {
             content = '<h2 style="text-align: center; margin-top: 25px; "><span class="text-success">I</span>nternet <span class="text-success">O</span>f <span class="text-success">T</span>hings</h2><p class=" domaintext text-left lh-lg word-spacing-4 mt-4"">IEEE TEMS plays a pivotal role in bridging the physical and digital realms. Our array of activities includes hosting IoT hackathons, sensor development workshops, and thought-provoking discussions on the societal impact of the Internet of Things (IoT). Within our vibrant community, members come together to collaborate, brainstorm, and create innovative IoT solutions. This collective effort not only enhances the interconnectedness of our world but also contributes to the broader conversation about the evolving role of IoT in our daily lives and society at large. Our commitment to pushing the boundaries of IoT technology further enriches the landscape of innovation and connectivity.</p>';
         }
         else if (section === 'devops') {
             content = '<h2 style="text-align: center; margin-top: 25px; "><span class="text-success">D</span>evops</h2><p class=" domaintext text-left lh-lg word-spacing-4 mt-4">IEEE TEMS serves as a dynamic platform that actively bridges the gap between development and operations, emphasizing the principles of automation, collaboration, and continuous improvement. Our comprehensive approach encompasses a wide range of activities, including the hosting of engaging DevOps workshops, hackathons, and insightful discussions on industry best practices.Within our vibrant community, members embark on a journey of discovery and skill enhancement, learning to streamline software development and deployment processes. This not only promotes efficiency and reliability but also fosters a culture of innovation in the rapidly evolving tech landscape.</p>';
         }
         else if (section === 'design') {
             content = '<h2 style="text-align: center; margin-top: 25px; "><span class="text-success">D</span>esign</h2><p class=" domaintext text-left lh-lg word-spacing-4 mt-4">In the dynamic realm of design, IEEE TEMS is a passionate advocate for the harmonious fusion of technology and aesthetics. We take pride in offering a diverse array of opportunities that empower our members to explore, innovate, and excel in the design domain.At the heart of our design-focused initiatives are UI/UX design challenges that challenge our members to craft engaging and user-friendly digital interfaces. Our graphic design workshops provide hands-on experiences that enhance their artistic and creative skills, enabling them to create visually stunning and effective design solutions.</p>';
         }
         else if (section === 'editorial') {
             content = '<h2 style="text-align: center; margin-top: 25px; "><span class="text-success">B</span>logging & <span class="text-success">V</span>logging</h2><p class=" domaintext text-left lh-lg word-spacing-4 mt-4">IEEE TEMS extends its reach into the realm of effective communication within the technical domain by providing a dedicated platform for blogging and vlogging. Our mission is to empower individuals to articulate their expertise and insights in a compelling and accessible manner. Through this specialized domain, we offer comprehensive training in content creation, video editing, and the nuances of effective social media marketing. Our aim is to equip members with the skills and tools they need to convey complex technical knowledge in a clear and engaging manner, bridging the gap between experts and enthusiasts.</p>';
         }
         
 
         contentArea.innerHTML = content;
     }
   </script>
</body>
</html>