<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="script.css">
    <title>IEEE_TEMS</title>
</head>
<body>
    <video src="bgvideo.mp4" muted loop autoplay plays-inline class="backvideo"></video>
    <img class="logo explore" src="logo3.png" alt="logo">
    <a href = "/home"><button class="glow-on-hover explore" type="button">EXPLORE NOW</button></a>
    <script src="index.js"></script>
</body>
</html>



