* {
  color: white;
  background: black;
  
}

#main {
  display: flex;
  flex-direction: column;
  margin-top: 60px;
  height: 100vh;
}

#toggle-main {
  display: flex;
  justify-content: center;
  align-items: center;
}

.toggle-buttons {
  width: 70%;
  display: flex;
  background: linear-gradient(#191A1D, #373C42);
  border-radius: 60px; 
  justify-content: space-between;
}

input[type="radio"] {
  display: none;
}

.status-switch {
  background: linear-gradient(#191A1D, #373C42);
  cursor: pointer;
  width: 50%; 
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  border-radius: 30px; 
  font-size: 14px; 
}

#home:checked + .status-switch {
  background: linear-gradient(#15581B, #0DD42E, #072A0E);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
}

#contributors:checked + .status-switch {
  background: linear-gradient(#15581B, #0DD42E, #072A0E);
  box-shadow: 0 0 4px 4px rgba(0, 0, 0, 0.2);
  order: 2;
}

.contributors {
  margin-top: 50px;
}

.contributors h1 {
  letter-spacing: -1px;
  font-size: 50px;
  text-align: center;
}

.contributors .row {
  margin-top: 70px;
  margin-bottom: 70px;
}

.contributors .image img {
    margin: 25px; 
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.design h1 span,
.developers h1 span {
  color: #67F410;
}


.image {
  position: relative;
}

.image-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  transition: opacity 0.3s;
}

.image:hover .image-overlay {
  opacity: 1;
}

.image-overlay i {
  color: white;
  background-color: transparent;
  font-size: 50px;
}


@media (max-width: 1060px) {
  .contributors h1 {
    font-size: 55px;
  }

  .contributors .image img {
    width: 200px;
    height: 200px;
  }
}

@media (max-width: 767px) {
  .contributors h1 {
    font-size: 40px;
  }

  .contributors .image img {
    width: 200px;
    height: 200px;
  }
}
@media (min-width: 768px) and ( max-width: 990px) {

  .contributors .image img {
    width: 150px;
    height: 150px;
  }
}

@media (max-width: 540px) {
  .toggle-buttons {
    width: 75%; 
  }

  .status-switch {
    width: 50%; 
  }

  .contributors h1 {
    font-size: 30px;
  }

  .contributors .row,
  .image {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
