@import url(https://pro.fontawesome.com/releases/v5.11.2/css/all.css);
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Hide scrollbar for Chrome, Safari and Opera */
body::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
body {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

body{
    color: white;
    background-color:rgb(22, 22, 22);
    cursor: none;
 }
  
  /*Home Section CSS*/

  #Home{
    overflow-x: hidden;
  }

  #homebg{
    width: 100%;
    height: 100%;  
    overflow: hidden;
  }

  #homebg > video{
    width: 100vw;
    filter: opacity(0.5);
  }

  #homecontent{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;  
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #htitle{
    font-family: 'Abril Fatface';
    font-size: 5.5em;
    font-weight: 100;
    margin: 0;
    color: white;
  }

  #hchanging{
    font-family: 'Poppins';
    font-size: 2.3em;
    font-weight: 100;
    width: 30vw;
    left: 35vw;
    align-items: center;
    text-align: center;
    margin: 0; 
    color: white;
    animation: changing 1s infinite;
  }

  .hword {
    margin: 0;
    width: 30vw;
    left: 35vw;
    top: 55vh;
    padding: 0;
    position: absolute;
    opacity: 0;
  }
  
  .letter {
    display: inline-block;
    position: relative;
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }

  #hicons{
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    z-index: 10;
    height: 40vh;
    top: 30vh;
  }

  .hicon{
    font-size: 3.5vh;
    margin-top: 7.375vh;
    margin-left: 10px;
    color: #999b99;
  }

  .hicon:hover{
    color: white;
  }

  #hlogo{
    position: absolute;
    top: 0;
    left: 0;
    margin: 10px;
  }

  #hlogo > img{
    width: 12vh;
  }

  #hmenu{
    position: fixed;
    top: 0;
    right: 0;
    margin: 10px;
  }

  #hmenu > i{
    font-size: 4vh;
  }

  @media screen and (max-width: 1200px) {
    #homebg > video{
      height: 100vh;
      width: auto;
    }
  }
  @media screen and (min-width: 601px) and (max-width:900px) {
    #htitle{
      font-size: 4em;
    }
  
    #hchanging{
      font-size: 1.5em;
      width: 30vw;
      left: 35vw;
    }
  }
  
  @media screen and (max-width: 600px) {
    #htitle{
      font-size: 3em;
    }
  
    #hchanging{
      font-size: 1em;
      width: 30vw;
      left: 35vw;
    }

    #hicons{
      flex-direction: row;
      z-index: 10;
      height: 40vh;
      bottom: 0;
      top: 88vh;
      left: 30vw;
    }

    .hicon{
      font-size: 3.5vh;
      margin-top: 7.375vh;
      margin-left: 7.375vw;
    }
  }
  
  /* Home CSS End */

  /* Cursor CSS start*/
  #circle {
    width: 12px;
    height: 12px;
    background-color: white;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 999; /* Ensure the circle is on top of other elements */
    mix-blend-mode: difference;
    transition: transform 0.1s ease-out;
  }
  .enlarge {
    width: 80px;
    height: 80px;
  }  
  /* cursor css end */


  /* Domain section start */
  .nav-link:focus {
      outline: none; 
      color: black !important; 
    }
  .nav-link {
      font-style: "Ubuntu";
      font-weight: bold;
      color: white;
  }
  .nav-link:hover{
      background-color: white;
      color: black;
  }
  .domaintext{
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .border{
    margin-left: 12vw;
     width: 72%; 
  }
  .icons{
    font-size: 2em;
  }
  
  
  @media screen and (max-width: 1200px) {
    .txt{
      display: none;
    }
    .nav-link:focus {
      outline: none; 
      background-color: white !important; 
    }
    
  }
  @media screen and (min-width: 601px) and (max-width:900px) {
    .domaintext{
      font-size: 16px;
      padding-left: 20px;
      padding-right: 20px;
    }
    .border{
      margin-left: 5vw;
       width: 90%; 
    }
  
  }
  
  @media screen and (max-width: 600px) {
    .domaintext{
      font-size: 14px;
      padding-left: 2px;
      padding-right: 2px;
    }
    .border{
      margin:auto;
       width: 93%; 
    }
    .icons{
      font-size: 1.5em;
    }
  
  }  /* Domain section end */



  /* Blog Section */
  .blog-section {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      transition: 0.25s;
  }
  
  .blog-section .options {
      display: flex;
      flex-direction: row;
      align-items: stretch;
      overflow: hidden;
      min-width: 700px;
      max-width: 1000px;
      width: calc(100% - 100px);
      height: 440px;
  }
  .arrow-button{
    background-color: green;
    width: 50px;
    height: 50px; 
    border-radius: 50%; 
    font-size: 21px; 
}
 .blog-section .options .option {
      position: relative;
      overflow: hidden;
      min-width: 60px;
      margin: 10px;
      background: var(--optionBackground, var(--defaultBackground, #e6e9ed));
      background-size: auto 120%;
      background-position: center;
      cursor: pointer;
      transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  
  .option:nth-child(1) {
      --defaultBackground: #ed5565;
  }
  .option:nth-child(2) {
      --defaultBackground: #fc6e51;
  }
  .option:nth-child(3) {
      --defaultBackground: #ffce54;
  }
  .option:nth-child(4) {
      --defaultBackground: #2ecc71;
  }
  .option:nth-child(5) {
      --defaultBackground: #5d9cec;
  }
  .option:nth-child(6) {
      --defaultBackground: #ac92ec;
  }
  
  .option.active {
      flex-grow: 10000;
      transform: scale(1);
      max-width: 600px;
      margin: 0px;
      border-radius: 40px;
      background-size: auto 100%;
  }
  
  .option.active .label {
      bottom: 20px;
      left: 20px;
  }
  .option.active .label .info > div {
      left: 0px;
      opacity: 1;
  }
  .option:not(.active) {
      flex-grow: 1;
      border-radius: 30px;
  }
  
  .option:not(.active) .label {
      bottom: 10px;
      left: 10px;
  }
  .option:not(.active) .label .info > div {
      left: 20px;
      opacity: 0;
  }
  
  .label {
      display: flex;
      position: absolute;
      right: 0px;
      height: 40px;
      transition: 0.5s cubic-bezier(0.05, 0.61, 0.41, 0.95);
  }
  
  .icon {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      min-width: 40px;
      max-width: 40px;
      height: 40px;
      border-radius: 100%;
      background-color: white;
      color: var(--defaultBackground);
  }
  
  .info {
      display: flex;
      flex-direction: column;
      justify-content: center;
      margin-left: 7px;
      color: white;
      font-weight: bold;
  }

/* blog section ends */
