body{
  color: white;
  background-color:rgb(22, 22, 22);
}



/* Domain section start */
.nav-link:focus {
    outline: none; 
    color: black !important; 
  }
.nav-link {
    font-style: "Ubuntu";
    font-weight: bold;
    color: white;
}
.nav-link:hover{
    background-color: white;
    color: black;
}
.domaintext{
  font-size: 18px;
  padding-left: 20px;
  padding-right: 20px;
}
.border{
  margin-left: 12vw;
   width: 72%; 
}
.icons{
  font-size: 2em;
}


@media screen and (max-width: 1200px) {
  .txt{
    display: none;
  }
  .nav-link:focus {
    outline: none; 
    background-color: white !important; 
  }
  
}
@media screen and (min-width: 601px) and (max-width:900px) {
  .domaintext{
    font-size: 16px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .border{
    margin-left: 5vw;
     width: 90%; 
  }

}

@media screen and (max-width: 600px) {
  .domaintext{
    font-size: 14px;
    padding-left: 2px;
    padding-right: 2px;
  }
  .border{
    margin:auto;
     width: 93%; 
  }
  .icons{
    font-size: 1.5em;
  }

}
/* Domain section end */


