body{
    margin: 0px;
    background-color: #000;
}

.backvideo {
    position: fixed;
    right: 0;
    bottom: 0;
    max-width: 100%;
    min-height: 80%;
    filter: opacity(60%) blur(0px);
    transition: 0.5s;
}

/* Video Experiments */


.logo{
    position: absolute;
    top: 30vh;
    left: 35vw;
    max-width: 30vw;
}

.logo:hover{
    filter: opacity(100%);
}

/* CSS for Glowing button */
.glow-on-hover {
    width: 15vw;
    height: 6vh;
    border: none;
    outline: none;
    color: #fff;
    background: #2f2f2f;
    cursor: pointer;
    position: absolute;
    top: 80vh;
    left: 42.5vw;
    z-index: 0;
    border-radius: 40px;
    transition: 0.5s;
  }
  
  .glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #00db25, #00db25, #00db25, #000, #000, #000, #000, #149900, #149900);
    position: absolute;
    top: -2px;
    left:-2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 40px;
  }
  
  .glow-on-hover:active:after {
    background: transparent;
  }
  
  .glow-on-hover:before {
    opacity: 1;
  }
  
  .glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #2f2f2f;
    left: 0;
    top: 0;
    border-radius: 40px;
  }
  
  @keyframes glowing {
    0% { background-position: 0 0; }
    50% { background-position: 400% 0; }
    100% { background-position: 0 0; }
  }